@charset "utf-8";
@import './modifiers.scss';
@import '../../node_modules/bulma/bulma.sass';
@import './font.scss';

$primary: rgb(200, 191, 178);
$secondary: #c7c8ca;

html {
  scroll-behavior: smooth;
  overflow-x: unset;
  overflow-y: unset;
}

#loading {
  position: absolute;
  left: 0px;
  top: 0px;
  background-color: #ddd;
}

// Hero

#top {
  margin-bottom: 0px;
}

.header {
  background-color: $secondary;
}

.title-brand {
  font-family: 'Avant Garde', Avantgarde, 'Century Gothic', CenturyGothic,
    'AppleGothic', sans-serif;
  font-size: 50px;
  text-align: center;
  text-rendering: optimizeLegibility;
  background-color: $primary;
  position: absolute;
  z-index: 4;
  opacity: 0.9;
  color: white;
  letter-spacing: 0.15em;
}

#bandeau1 {
  opacity: 0.7;
  z-index: 1;
}

@media screen and (max-width: 1024px) {
  .bandeau1 {
    width: 100%;
    height: 109%;
  }
  .title-brand {
    margin-top: -2.5rem;
  }
}
@media screen and (min-width: 1024px) {
  .bandeau1 {
    width: 109%;
    height: 100%;
  }
}

.quote {
  font-family: 'Caveat', cursive;
  font-size: 40px;
}

// Navbar

#brand {
  font-family: 'Raleway';
  letter-spacing: 4px;
  //background-color: rgba(0, 0, 0, 0.164);
}

section {
  color: 'white';
  font-family: Raleway;
}

.navbar-item {
  color: white;
}

.navbar {
  height: 50px;
}

.navbar-menu.is-active {
  background-color: $secondary;
}

.sticky {
  position: fixed !important;
  top: 0;
  width: 100%;
  opacity: 0.7;
}

.sticky + body {
  padding-top: 102px;
}

.navbar {
  z-index: 1;
  background-color: #5e8bbf00 !important;
}

.navbar-item {
  font-size: 20px;
}

// Sections

#containerCarnets {
  position: relative;
  & a {
    font-weight: 900;
    color: #3b496b;
    font-size: 21px;
  }
}

#nusFeminins {
  font-size: 20px;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: fit-content;
}

#visages {
  font-size: 20px;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: fit-content;
}

#paysages {
  font-size: 20px;
  position: absolute;
  top: 66%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: fit-content;
}

#nusMasculins {
  font-size: 20px;
  position: absolute;
  top: 76%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: fit-content;
}

#videoAquarelles {
  font-size: 20px;
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: fit-content;
}

.slideshows {
  display: none;
}

#autres {
  box-shadow: 2px 2px 5px #9b9a85;
}

#carnets {
  //box-shadow: 2px 2px 5px #9b9a85;
  background-color: #c7c8ca;
}

#a-propos {
  box-shadow: 2px 2px 5px #9b9a85;
}

.section-title {
  padding: 10px;
  display: inline;
  font-family: 'Raleway';
  color: white;
}

.navbar-item {
  font-size: 20px;
}

a.active {
  font-size: 25px;
  font-weight: 600;
}

.presentation {
  color: white;
}
